! #include ".colors/badwolf"
! #include ".colors/ocean-dark"
#include ".colors/pnemva"
! #include ".colors/solarized_dark"
! #include ".colors/hybrid"
! #include ".colors/sidonia"

! Appearance
URxvt.font: xft:Roboto Mono for Powerline:pixelsize=14,xft:DejaVu Sans Mono for Powerline:pixelsize=14
! URxvt.font: xft:Inconsolata:size=12,xft:DejaVu Sans Mono for Powerline:size=12
! better to not touch it!
#include ".colors/apply_colors"

URxvt.intensityStyles: false
URxvt.boldMode:       true
URxvt.urgentOnBell: true
URxvt.cursorUnderline: false
URxvt.cursorBlink: true

! ScrollBar
URxvt.scrollBar:            false
URxvt.scrollBar_right:      false
URxvt.underlineURLs:        true
URxvt.saveLines:            4096

! Ctrl+Arrows
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! Transparency
URxvt.transparent:   false
! URxvt.transparent:   true
! URxvt.shading:       10

! URLs
URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select,matcher,font-size
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

URxvt.clipboard.autocopy:   true
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped

! Increace fonts
URxvt.keysym.M-Up:     perl:font-size:increase
URxvt.keysym.M-Down:   perl:font-size:decrease
URxvt.keysym.M-S-Up:   perl:font-size:incglobal
URxvt.keysym.M-S-Down: perl:font-size:decglobal
URxvt.keysym.M-equal:  perl:font-size:reset
URxvt.keysym.M-slash:  perl:font-size:show

! Clickable urls
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1

! rofi colors
rofi.color-enabled:	true

! State:            'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-window:	color_bg,  color_fg, color_0
rofi.color-normal:	color_bg,  color_fg, color_bg, color_2, color_0

rofi.lines: 5
rofi.bw: 0
rofi.opacity: "10"
rofi.hide-scrollbar: true
rofi.width:	15
rofi.modi: combi
rofi.combi-modi: run, drun
